body {
  background-color: #1c2126;
}

.lnr{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: #1c2126;
  text-align: center;
}


h2 {
  color: #a0adba;
  text-align: center;
}
